<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.curonsys.android_java">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBlhcGq5Yst_dbTmakaPdwD2bm_mMFqJ6k" />

        <activity
            android:name=".ChooseActivity"
            android:label="@string/title_activity_choose"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".ChooseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.MyaccountActivity"
            android:label="@string/title_activity_myaccount"
            android:parentActivityName=".ChooseActivity"
            android:theme="@style/AppTheme.NoActionBarDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.BottomActivity"
            android:label="@string/title_activity_bottom"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".ChooseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity android:name=".activity.ARCameraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_item_list"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activity.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.activity.ItemListActivity" />
        </activity>
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".ChooseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.MarkerGenerationActivity"
            android:label="@string/title_activity_generation"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>
        <activity
            android:name=".activity.MarkerTestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".activity.MarkerGenerationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.activity.MarkerGenerationActivity" />
        </activity>

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />
        <service android:name=".service.GeofenceTransitionsIntentService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.curonsys.android_java"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.ImageGridActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />
        </activity>

        <activity
            android:name=".activity.ARCoreTestActivity"
            android:label="@string/title_activity_arcoretest"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.ChooseActivity" />

        </activity>

        <activity
            android:name=".arcore.AugmentedImageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.activity.ARCoreTestActivity" />
        </activity>
        <activity
            android:name=".arcore.ChromaKeyVideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="locked"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.activity.ARCoreTestActivity" />
        </activity>

        <activity
            android:name=".arcore.SolarActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.curonsys.android_java.activity.ARCoreTestActivity" />
        </activity>

        <meta-data android:name="com.google.ar.core" android:value="optional" />
    </application>

</manifest>